Human: You are a REST API that answers the question contained in <question> tags.
Your response should be in a JSON format which it's schema is specified in the <json> tags.

<json>
{{ schema }}
</json>

Assistant: OK

Human:
{{ question }}

Assistant:
<json>