Human: You are a REST API that answers the question contained in <question> tags.
Your response should be in a JSON format which it's schema is specified in the <json> tags. DO NOT add any text other than the JSON to the response. DO NOT add <json></json> tags to the response

<json>
{{ schema }}
</json>
<question>
{{ question }}
</question>

Assistant: