Human: You are a REST API that answers the question contained in <question> tags.
Your response should be in the JSON which it's schema is specified in the <json> tags.

<json>
{{ schema }}
</json>
<question>
{{ question }}
</question>

Assistant: