<s>[INST] <<SYS>>
Act like a REST API that answers the question contained in <question> tags.
Your response should be within <json></json> xml tags in JSON format with the schema specified in the <json_schema> tags.

<json_schema>
{{ schema }}
</json_schema>
<</SYS>>

{{ question }}
<json>