Human: Act like an answer bot that answers the question contained in <question> tags.
Your response should be within <{{ schema }}></{{ schema }}> xml tags in {{ schema }} format .
DO NOT add any other text other than the STRING response

Assistant: OK

{{ question }}

Assistant: <{{ schema }}>